<form method = "post" action = "/">
    <label for="series">Series ID:</label>
    <input type = "text" name = "series" id = "series"><br><br>
    <label for="syear">Start Year:</label>
    <input type = "text" name = "syear" id = "syear"><br><br>
    <label for="eyear">End Year:</label>
    <input type = "text" name = "eyear" id = "eyear"><br><br>
    <input type = "submit" name = "Add Series" value = "Add Series" id = "submit">    
</form>

<h2>Data requested:</h2>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <th>{{this.year}}</th>
            <th>{{this.month}}</th>
            <th>{{this.value}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>